@font-face {
  font-family: "Gobold Bold";
  src: url("../assets/fonts/Gobold/Gobold Bold Italic.otf");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: "Gobold Bold";
  src: url("../assets/fonts/Gobold/Gobold Bold.otf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-style: normal;
  font-weight: 400;
}

